* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Tahoma, sans-serif;
}
.control-buttons {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-image: url("/imgs/GoBusCopy.jpg");
  background-position: center;
  background-size: cover;
}
.control-buttons form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.control-buttons form input {
  width: 400px;
  height: 50px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #fff;
  border: none;
}
.control-buttons form button {
  width: 400px;
  height: 70px;
  background-color: #0c8731;
  color: #fff;
  padding: 15px 25px;
  font-size: 30px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}
/* .control-buttons span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #0c8731;
  color: #fff;
  padding: 15px 25px;
  font-size: 30px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
} */
.info-container {
  width: 1080px;
  margin: 20px auto 0;
  background-color: #f6f6f6;
  padding: 20px;
  font-size: 24px;
  overflow: hidden;
  border: 2px solid #f69300;
}
.info-container .name {
  float: left;
  width: 50%;
}
.info-container .tries {
  float: right;
  width: 50%;
  text-align: right;
}
.memory-game-blocks {
  display: flex;
  width: 900px;
  flex-wrap: wrap;
  margin: 20px auto;
}
.memory-game-blocks.no-clicking {
  pointer-events: none;
}
.memory-game-blocks .game-block {
  height: 200px;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  flex: 0 1 200px;
  margin: 0 10px 20px;
}
.memory-game-blocks .game-block .front {
  background-color: #333;
  line-height: 200px;
}
.memory-game-blocks .game-block .front:before {
  content: "!";
  color: #fff;
  font-size: 140px;
  font-weight: bold;
}
.memory-game-blocks .game-block .back {
  background-color: #f69300;
  transform: rotateY(180deg);
}
.memory-game-blocks .game-block .back img {
  width: 190px;
  height: 190px;
}
.memory-game-blocks .game-block .face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  backface-visibility: hidden;
  border: 5px solid #f69300;
}
.memory-game-blocks .game-block.is-flipped,
.memory-game-blocks .game-block.has-match {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  pointer-events: none;
}
.disappear {
  opacity: 0;
  transform: scale(0);
  transition: 0.6s ease opacity, 0.6s ease transform;
}
.success-panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
#my-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100000;
  visibility: hidden;
}
#my-canvas.active {
  visibility: visible;
}
